
<div class="row" style="text-align:center">
    <div class="col-md-4">
        <div>
            <a href="../Cliente/Index "><img src="~/img/cliente.png" width="150" heigth="150"/></a>
        </div>
        <span> Cadastro de Clientes</span>
    </div>

    <div class="col-md-4">
        <div>
            <a href="../Categoria/Index "><img src="~/img/categoria.png" width="150" heigth="150" /></a>
        </div>
        <span> Cadastro de Categorias</span>
    </div>

    <div class="col-md-4">
        <div>
            <a href="../Produtos/Index "><img src="~/img/produtos.png" width="150" heigth="150" /></a>
        </div>
        <span> Cadastro de Produtos</span>
    </div>
</div>

<br />
<br />

<div class="row" style="text-align:center">
    <div class="col-md-4">
        <div>
            <a href="../Vendas/Index "><img src="~/img/vendas.png" width="150" heigth="150"/></a>
        </div>
        <span> Registro de Vendas</span>
    </div>

    <div class="col-md-4">
        <div>
            <a href="../Relatorio/Grafico "><img src="~/img/relatorio.png" width="150" heigth="150" /></a>
        </div>
        <span> Relatórios</span>
    </div>

    <div class="col-md-4">
        <div>
            <a href="../Configuracoes/Index "><img src="~/img/configuracoes.png" width="150" heigth="150"/></a>
        </div>
        <span> Configurações</span>
    </div>
</div>


